apiVersion: apps/v1
kind: Deployment
metadata:
  name: mscqa-gke-cluster
spec:
  replicas: 3
  selector:
    matchLabels:
      run: load-tester
  template:
    metadata:
      labels:
        run: load-tester
    spec:
      containers:
      - name: gohttpserver
        image: eu.gcr.io/mscitqa/go-http:latest
        resources:
          requests:
            cpu: 300m
